* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(41, 41, 41);
}

.navbar {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    width: 350px;
}

.navbar ul li {
    display: flex;
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
}

.navbar ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.navbar ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    color: rgb(14, 14, 14);
    transition: 0.5s;
}

.navbar ul li.active a .icon {
    transform: translateY(-29px);
    color: #2196f3;
}

.navbar ul li a .text {
    position: absolute;
    background: #2196f3;
    color: #fff;
    border-radius: 12px;
    padding: 3px 7px;
    font-size: 16px;
    letter-spacing: 0.05em;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(15px);
}

.navbar ul li.active a .text {
    transform: translateY(-4px);
    opacity: 1;
}

.indicator {
    position: absolute;
    background: #fff;
    width: 70px;
    height: 70px;
    top: -35px;
    left: 25px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 5px;
    left: -28px;
    box-shadow: 15px 18px rgb(255, 255, 255);
}

.indicator::after {
    content: "";
    position: absolute;
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 5px;
    right: -28px;
    box-shadow: -15px 18px rgb(255, 255, 255);
}

.navbar ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navbar ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}



